/* inport fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: #151C22;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


ul {
    list-style: none;
}

body {
    min-width: 1200px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
    color: #151C22;
    background-color: aqua;
}

.container {
    margin: 0 auto;
    max-width: 1248px;
    height: inherit;
    padding-left: 15px;
    padding-right: 15px;
}

/* Header */

.main-header {
    background-color: white;
    height: 67px;

}

.main-header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
}

.site-navigation {
    display: flex;
    gap: 35px;
    width: 400px;
}

.main-header-logo {
    font-size: 24px;
    font-weight: 800;
}

.user-navigation{
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    width: 400px;

}

/* Main main */
.main-promo {
    height: 617px;
    background-color: #F1F2F4;

}

.promo-wrapper {
    display: flex;
    justify-content: center;
}

.promo-text-column {
    width: 520px;
    padding-left: 165px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.promo-subtitle {
    font-size: 18px;
    font-weight: 400;
    color: #727A82;
    margin-bottom: 25px;
}

.promo-text {
    font-family: 'Anton', sans-serif;
    font-size: 128px;
    font-weight: 400;
    line-height: 0.9;
    margin-bottom: 50px;
}

.promo-button {
    color: white;
    background-color: #151C22;
    border: none;
    padding: 24px 27px;
    margin-left: 5px;
    font-weight: 700;
    cursor: pointer;
}

.promo-img-column {
    margin: 50px; 
    width: 430px;
    position: relative;
}

.promo-img-column .foto-decoration:first-child {
    background-image: url('/img/foto_bg.png');
    position: absolute;
    top: -50px;
    left: -50px;
    width: 232px;
    height: 176px;

}

.promo-foto {
    position: relative;
    z-index: 10;
}


.promo-img-column .foto-decoration:last-child {
    background-image: url('/img/foto_bg.png');
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    right: -116px;
    bottom: -50px;
    width: 232px;
    height: 176px;
}